<footer class="footer">
    <div class="container">
        <p class="text-muted footer-text">© 2019 Network Laboratory&lt;Hannam University&gt; All rights Reserved.</p>
    </div>
</footer>

</script>
</body>

</html>