<!doctype html>
<html lang="ko">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title></title>
    <script src="/javascripts/bundle.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-bg-shadow">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/images/logos/logo_wide.png" width="180px" alt="네트워크 연구실">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#network_lab_navbar" aria-controls="network_lab_navbar" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="network_lab_navbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">홈</span></a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="professor_lee" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">교수소개</a>
                        <div class="dropdown-menu" aria-labelledby="professor_lee">
                            <a class="dropdown-item" href="/professor">프로필</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">연구논문</a>
                            <a class="dropdown-item" href="#">발표논문</a>
                            <a class="dropdown-item" href="#">활동</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="professor_lee" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">네트워크 연구실</a>
                        <div class="dropdown-menu" aria-labelledby="professor_lee">
                            <h6 class="dropdown-header">Current</h6>
                            <a class="dropdown-item" href="#">학사과정</a>
                            <div class="dropdown-divider"></div>
                            <h6 class="dropdown-header">Alumni</h6>
                            <a class="dropdown-item" href="#">박사과정</a>
                            <a class="dropdown-item" href="#">석사과정</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/e-campus">Research</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/e-campus">가상강의실</a>
                    </li>
                </ul>
                <!-- <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form> -->
            </div>
        </div>
    </nav>