<% include ../include/header %>

    <div class="wrapper">
        <div class="sidebar-wrapper d-none d-sm-block d-md-block">
            <div class="profile-container">
                <h1 class="name">저서</h1>
            </div>

        </div>
        <!--//sidebar-wrapper-->

        <div class="main-wrapper">



            <ul class="list-unstyled">
                <li class="media">
                    <!-- <img src="..." class="mr-3" alt="..."> -->
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">알기 쉬운 정보보호개론 흥미로운 암호 기술의 세계 3판</h5>
                        <p>인피니티북스, 2017.05</p>
                        책에대한간단설명
                    </div>
                </li>
                <li class="media mt-5">
                    <!-- <img src="..." class="mr-3" alt="..."> -->
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">실전으로 배우는 네트워크 해킹과 보안</h5>
                        <p>인피니티북스 ,2017.3</p>
                        책에대한간단설명
                    </div>
                </li>
                <li class="media mt-5">
                    <!-- <img src="..." class="mr-3" alt="..."> -->
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">네트워크 보안 에센셜</h5>
                        <p>진샘미디어 ,2017.2</p>
                        책에대한간단설명
                    </div>
                </li>
                <li class="media mt-5">
                    <!-- <img src="..." class="mr-3" alt="..."> -->
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">데이터 통신 (3판)</h5>
                        <p>맥그로힐에듀케이션 ,2017.1</p>
                        책에대한간단설명
                    </div>
                </li>
                <li class="media mt-5">
                    <!-- <img src="..." class="mr-3" alt="..."> -->
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">데이터 통신</h5>
                        <p>한국맥그로힐(주) ,2016.1</p>
                        책에대한간단설명
                    </div>
                </li>
                <li class="media mt-5">
                    <!-- <img src="..." class="mr-3" alt="..."> -->
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">와이어샤크를 이용한 네트워크 분석</h5>
                        <p>한국맥그로힐(주) ,2015.7</p>
                        책에대한간단설명
                    </div>
                </li>
                <li class="media mt-5">
                    <!-- <img src="..." class="mr-3" alt="..."> -->
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">와이어샤크 네트워크 완전 분석</h5>
                        <p>에이콘 출판사, 2014.8</p>
                        책에대한간단설명
                    </div>
                </li>
                <li class="media mt-5">
                    <!-- <img src="..." class="mr-3" alt="..."> -->
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">데이터 통신 (2판)</h5>
                        <p>한국맥그로힐(주) ,2013.7</p>
                        책에대한간단설명
                    </div>
                </li>
                <li class="media mt-5">
                    <!-- <img src="..." class="mr-3" alt="..."> -->
                    <div class="media-body">
                        <h5 class="mt-0 mb-1"> 파워포인트 2010으로 배우는 프레젠테이션 기술</h5>
                        <p>글누리 ,2013.3</p>
                        책에대한간단설명
                    </div>
                </li>
                <li class="media mt-5">
                    <!-- <img src="..." class="mr-3" alt="..."> -->
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">네트워크 보안 에센셜</h5>
                        <p>생능 출판사 ,2013.1</p>
                        책에대한간단설명
                    </div>
                </li>
                <li class="media mt-5">
                    <!-- <img src="..." class="mr-3" alt="..."> -->
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">TCP/IP Illustrated, Volume 1, Second Edition - 네트워크 프로토콜의 이해</h5>
                        <p>에이콘 출판사 , 2013.1</p>
                        책에대한간단설명
                    </div>
                </li>
                <li class="media mt-5">
                    <!-- <img src="..." class="mr-3" alt="..."> -->
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">데이터통신과 네트워킹</h5>
                        <p>한국맥그로힐(주) ,2013.1</p>
                        책에대한간단설명
                    </div>
                </li>
                <li class="media mt-5">
                    <!-- <img src="..." class="mr-3" alt="..."> -->
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">인증시스템</h5>
                        <p>그린 출판사 ,2012.7</p>
                        책에대한간단설명
                    </div>
                </li>
                <li class="media mt-5">
                    <!-- <img src="..." class="mr-3" alt="..."> -->
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">와이어샤크를 활용한 실전 패킷 분석</h5>
                        <p>에이콘 출판사 , 2012.7</p>
                        책에대한간단설명
                    </div>
                </li>
                <li class="media mt-5">
                    <!-- <img src="..." class="mr-3" alt="..."> -->
                    <div class="media-body">
                        <h5 class="mt-0 mb-1"> 알기 쉬운 정보보호 개론 (2판)</h5>
                        <p>인피니티북스, 2012.4</p>
                        책에대한간단설명
                    </div>
                </li>
                <li class="media mt-5">
                    <!-- <img src="..." class="mr-3" alt="..."> -->
                    <div class="media-body">
                        <h5 class="mt-0 mb-1"> 컴퓨터 네트워크</h5>
                        <p>한국맥그로힐(주), 2012.1</p>
                        책에대한간단설명
                    </div>
                </li>
                <li class="media mt-5">
                    <!-- <img src="..." class="mr-3" alt="..."> -->
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">TCP/IP 프로토콜 (4판)</h5>
                        <p>한국맥그로힐(주), 2010.1</p>
                        책에대한간단설명
                    </div>
                </li>
                <li class="media mt-5">
                    <!-- <img src="..." class="mr-3" alt="..."> -->
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">U시대의 컴퓨터활용과 실습</h5>
                        <p>이한출판사, 2009.1</p>
                        책에대한간단설명
                    </div>
                </li>
                <li class="media mt-5">
                    <!-- <img src="..." class="mr-3" alt="..."> -->
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">FOROUZAN의 데이터통신</h5>
                        <p>한국맥그로힐(주), 2008.2</p>
                        책에대한간단설명
                    </div>
                </li>
                <li class="media mt-5">
                    <!-- <img src="..." class="mr-3" alt="..."> -->
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">암호학과 네트워크 보안</h5>
                        <p>한국맥그로힐(주), 2008.1</p>
                        책에대한간단설명
                    </div>
                </li>
                <li class="media mt-5">
                    <!-- <img src="..." class="mr-3" alt="..."> -->
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">알기 쉬운 정보보호개론</h5>
                        <p>인피니티북스, 2008.1</p>
                        책에대한간단설명
                    </div>
                </li>
                <li class="media mt-5">
                    <!-- <img src="..." class="mr-3" alt="..."> -->
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">데이터통신과 네트워킹</h5>
                        <p>한국맥그로힐(주), 2007.7</p>
                        책에대한간단설명
                    </div>
                </li>
                <li class="media mt-5">
                    <!-- <img src="..." class="mr-3" alt="..."> -->
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">TCP/IP 프로토콜 (3판)</h5>
                        <p>한국맥그로힐(주), 2005.12</p>
                        책에대한간단설명
                    </div>
                </li>
                <li class="media mt-5">
                    <!-- <img src="..." class="mr-3" alt="..."> -->
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">컴퓨터 통신보안 (3판)</h5>
                        <p>도서출판 그린, 2005.8</p>
                        책에대한간단설명
                    </div>
                </li>
                <li class="media mt-5">
                    <!-- <img src="..." class="mr-3" alt="..."> -->
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">데이터 통신과 네트워킹 (3판)</h5>
                        <p>교보문고, 2005.2</p>
                        책에대한간단설명
                    </div>
                </li>
                <li class="media mt-5">
                    <!-- <img src="..." class="mr-3" alt="..."> -->
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">비즈니스 데이터통신</h5>
                        <p>주)학술정보, 2005</p>
                        책에대한간단설명
                    </div>
                </li>
                <li class="media mt-5">
                    <!-- <img src="..." class="mr-3" alt="..."> -->
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">UNIX 언바운디드</h5>
                        <p>미래컴, 2004</p>
                        책에대한간단설명
                    </div>
                </li>
                <li class="media mt-5">
                    <!-- <img src="..." class="mr-3" alt="..."> -->
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">네트워크 보안 에센셜</h5>
                        <p>미래컴, 2004</p>
                        책에대한간단설명
                    </div>
                </li>
                <li class="media mt-5">
                    <!-- <img src="..." class="mr-3" alt="..."> -->
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">TCP/IP 프로토콜(2판)</h5>
                        <p>한국맥그로힐(주), 2003.7</p>
                        책에대한간단설명
                    </div>
                </li>
                <li class="media mt-5">
                    <!-- <img src="..." class="mr-3" alt="..."> -->
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">easy~ JAVA 프로그래밍</h5>
                        <p>Com&Book, 2002</p>
                        책에대한간단설명
                    </div>
                </li>
                <li class="media mt-5">
                    <!-- <img src="..." class="mr-3" alt="..."> -->
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">Java Security 프로그래밍</h5>
                        <p>한빛미디어, 2001</p>
                        책에대한간단설명
                    </div>
                </li>
                <li class="media mt-5">
                    <!-- <img src="..." class="mr-3" alt="..."> -->
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">리눅스 PROFESSIONAL</h5>
                        <p>이한출판사, 2001</p>
                        책에대한간단설명
                    </div>
                </li>
                <li class="media mt-5">
                    <!-- <img src="..." class="mr-3" alt="..."> -->
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">컴퓨터 통신 보안</h5>
                        <p>도서출판 그린, 2001</p>
                        책에대한간단설명
                    </div>
                </li>
                <li class="media mt-5">
                    <!-- <img src="..." class="mr-3" alt="..."> -->
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">TCP/IP 프로토콜</h5>
                        <p>미래컴, 2000</p>
                        책에대한간단설명
                    </div>
                </li>
                <li class="media mt-5">
                    <!-- <img src="..." class="mr-3" alt="..."> -->
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">웹 마스터 익스프레스</h5>
                        <p>i포스트, 2000</p>
                        책에대한간단설명
                    </div>
                </li>
                <li class="media mt-5">
                    <!-- <img src="..." class="mr-3" alt="..."> -->
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">자바 보안과 암호화</h5>
                        <p>한빛미디어, 2000</p>
                        책에대한간단설명
                    </div>
                </li>
                <li class="media mt-5">
                    <!-- <img src="..." class="mr-3" alt="..."> -->
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">멀티미디어로 배우는 컴퓨터 입문</h5>
                        <p>영한출판사, 2000</p>
                        책에대한간단설명
                    </div>
                </li>
                <li class="media mt-5">
                    <!-- <img src="..." class="mr-3" alt="..."> -->
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">데이터통신과 네트워킹</h5>
                        <p>교보문고, 1999</p>
                        책에대한간단설명
                    </div>
                </li>
                <li class="media mt-5">
                    <!-- <img src="..." class="mr-3" alt="..."> -->
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">전자상거래가 세상을 바꾼다</h5>
                        <p>i포스트, 1999</p>
                        책에대한간단설명
                    </div>
                </li>
                <li class="media mt-5">
                    <!-- <img src="..." class="mr-3" alt="..."> -->
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">TCP/IP 네트워크</h5>
                        <p> 진영사, 1999</p>
                        책에대한간단설명
                    </div>
                </li>
                <li class="media mt-5">
                    <!-- <img src="..." class="mr-3" alt="..."> -->
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">컴퓨터 통신</h5>
                        <p> 이한출판사, 1998</p>
                        책에대한간단설명
                    </div>
                </li>
                <li class="media mt-5">
                    <!-- <img src="..." class="mr-3" alt="..."> -->
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">TCP/IP 네트워킹</h5>
                        <p>이한출판사, 1997</p>
                        책에대한간단설명
                    </div>
                </li>
                <li class="media mt-5">
                    <!-- <img src="..." class="mr-3" alt="..."> -->
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">인터넷과 PC통신</h5>
                        <p>삼진출판사, 1997</p>
                        책에대한간단설명
                    </div>
                </li>
                <li class="media mt-5">
                    <!-- <img src="..." class="mr-3" alt="..."> -->
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">통신망 정보보호</h5>
                        <p>그린출판사, 1996</p>
                        책에대한간단설명
                    </div>
                </li>
                <li class="media mt-5">
                    <!-- <img src="..." class="mr-3" alt="..."> -->
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">논리회로</h5>
                        <p>형설출판사, 1996</p>
                        책에대한간단설명
                    </div>
                </li>
                <li class="media mt-5">
                    <!-- <img src="..." class="mr-3" alt="..."> -->
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">IBM PC 매크로어셈블리어프로그래밍</h5>
                        <p>진영사, 1996</p>
                        책에대한간단설명
                    </div>
                </li>
                <li class="media mt-5">
                    <!-- <img src="..." class="mr-3" alt="..."> -->
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">인터넷 방화벽과 네트워크 보안</h5>
                        <p>이한출판사, 1996</p>
                        책에대한간단설명
                    </div>
                </li>
                <li class="media mt-5">
                    <!-- <img src="..." class="mr-3" alt="..."> -->
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">알기쉽게 설명한 UNIX</h5>
                        <p>이한출판사, 1995</p>
                        책에대한간단설명
                    </div>
                </li>
                <li class="media mt-5">
                    <!-- <img src="..." class="mr-3" alt="..."> -->
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">나도 인터네-트를 사용해 보자!</h5>
                        <p>이한출판사, 1994</p>
                        책에대한간단설명
                    </div>
                </li>
                <li class="media mt-5">
                    <!-- <img src="..." class="mr-3" alt="..."> -->
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">Internet 완벽해설서</h5>
                        <p>이한출판사, 1994</p>
                        책에대한간단설명
                    </div>
                </li>
            </ul>

        </div>
        <!--//main-body-->
    </div>

    <% include ../include/footer %>