<% include ../include/header %>

    <div class="wrapper">
        <div class="sidebar-wrapper">
            <div class="profile-container">
                <h1 class="name">연구실적</h1>
            </div>

        </div>
        <!--//sidebar-wrapper-->

        <div class="main-wrapper">

            <section class="section experiences-section">
                <h2 class="section-title"><span class="icon-holder"><svg class="svg-inline--fa fa-briefcase fa-w-16" aria-hidden="true" data-prefix="fas" data-icon="briefcase" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M320 288h192v144c0 26.51-21.49 48-48 48H48c-26.51 0-48-21.49-48-48V288h192v20c0 6.627 5.373 12 12 12h104c6.627 0 12-5.373 12-12v-20zm192-112v80H0v-80c0-26.51 21.49-48 48-48h80V80c0-26.51 21.49-48 48-48h160c26.51 0 48 21.49 48 48v48h80c26.51 0 48 21.49 48 48zM320 96H192v32h128V96z"></path></svg><!-- <i class="fas fa-briefcase"></i> --></span>국제
                    저명 학술지</h2>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Positioning model design using Beacon and Geomagnetic sensor of Smartphone, Advances in Computer Science and Ubiquitous Computing</h3>
                            <div class="time">2017.12</div>
                        </div>
                        <div class="company">Springer Singapore LNEE, vol 474, pp. 192-197</div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">A Study on the Designing of a Laboratory Accident Cognition Model Using Smart Sensor Based Decision Tree</h3>
                            <div class="time">2017.12</div>
                        </div>
                        <div class="company">Advances in Computer Science and Ubiquitous Computing, Springer Singapore LNEE, vol 474, pp. 180-186,</div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <div class="job-title">A Study on LEA and Seed Algorithms for Data Protection of Smartphone Based Disaster Notification System</div>
                            <div class="time">2017.01</div>
                        </div>
                        <div class="company">International Journal of Network Security & Its Applications(IJNSA), IJNSA, Vol 9, No 1, pp. 1-12</div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Design of Security Training System for Individual Users, Wireless Personal Communications</h3>
                            <div class="time">2016.10</div>
                        </div>
                        <div class="company">Springer US, Vol 90, pp1105-1120, </div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Design of MDM System using BLE Beacon and Extended Kalman Filter</h3>
                            <div class="time">2016.8</div>
                        </div>
                        <div class="company">Indian Journal of Science & Technology, Indian Society for Education and Environment and copublished by Informatics, Vol 9, Issue 29, </div>
                    </div>
                </div>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Method for Improving Indoor Positioning Accuracy Using Extended Kalman Filter</h3>
                            <div class="time">2016.04</div>
                        </div>
                        <div class="company">Mobile Information Systems, Hindawi Publishing Corporation, Vol 2016(2016), 15page</div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title"></h3>
                            <div class="time">2016.04</div>
                        </div>
                        <div class="company">INFORMATION An International Interdisciplinary Journal, 2016 Internartional Information Institute, Vol 19, No. 3 pp. 981-986. </div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Design of Access Control System combining beacon and heterogeneous-sensor for minimizing leakage of confidential information</h3>
                            <div class="time">2016.01</div>
                        </div>
                        <div class="company">International Journal of Applied Engineering Research, International Journal of Computer Science and Intelligent Computing (IJCSIC 2015), Vol 10, pp. 115-118</div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Design and Implementation of Disater Information Alert System Using Pyhton in Ubiquitous Environment</h3>
                            <div class="time">2015.12</div>
                        </div>
                        <div class="company">International Conference on Ubiquitous Information Technologies and Applications (CUTE 2015), Springer LNEE, Vol 373, pp. 403-409</div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Design of Disaster Information Collection System Base on In-memory in Crowd Sensing Environments,</h3>
                            <div class="time">2015.10</div>
                        </div>
                        <div class="company">International Journal of Applied Engineering Research, International Journal of Computer Science and Intelligent Computing(IJCSIC 2015), Vol 10, pp. 662-666</div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Design of Disaster Collection and Analysis System Using Crowd Sensing and Beacon Based on HadoopFramework</h3>
                            <div class="time">2015.06</div>
                        </div>
                        <div class="company">Computational Science and Its Applications(ICCSA 2015), Springer LNCS, Vol 9158, pp. 106-116</div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Hybrid app security protocol for high speed mobile communication</h3>
                            <div class="time">2014.11</div>
                        </div>
                        <div class="company">Springer US, The Journal of Supercomputing, Vol 1, pp. 1-25</div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Kinect-Based Monitoring System to Prevent Seniors Who Live Alone from Solitary Death,Computational Science and Its Applications(ICCSA 2014)</h3>
                            <div class="time">2014.07</div>
                        </div>
                        <div class="company">Springer LNCS, Vol 8582, pp.709-719</div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">The Analysis and Countermeasures on Security Breach of Bitcoin, Computational Science and Its Applications(ICCSA 2014)</h3>
                            <div class="time">2014.07</div>
                        </div>
                        <div class="company">Springer LNCS, Vol 8582, pp. 720-732</div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Study on Encryption of Wireless Network-Based Mobility Energy-Enterprise Security Management,FTRA International Symposium on Frontier and Innovation in Future Computing and Communications (FCC 2014)</h3>
                            <div class="time">2014.01</div>
                        </div>
                    </div>
                    <div class="company">Springer LNEE(Lecture Notes in Electrical Engineering), Vol 301, pp. 221-227</div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Assessment of Compatibility between Standard Medical System of u-RPMS and HL7</h3>
                            <div class="time">2013.12</div>
                        </div>
                        <div class="company">Conference on Ubiquitous Information Technologies and Applications(CUTE 2013), Springer LNEE, Vol 280, pp. 387-394</div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Preformance Evaluaion of WDS-based Mobile ITS Video Control System for Smart for Smart APTTraffic Control</h3>
                            <div class="time">2013.12</div>
                        </div>
                        <div class="company">Conference on Ubiquitous Information Technologies and Applications (CUTE 2013), Springer LNEE, Vol 280, pp. 819-826</div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Empirical Study of Email Security Threatsand Countermeasures</h3>
                            <div class="time">2014.08</div>
                        </div>
                        <div class="company">Networks and Communications (NetCom2013),Springer LNEE, Vol 284, pp. 229-242</div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">A Study on Algorithm to Identify the Abnormal Status of a Patient using Acceleration Algorithm,</h3>
                            <div class="time">2013.06</div>
                        </div>
                        <div class="company">Springer London, Personal and Ubiquitous Computing Journal, Vol 18, pp.1337-1350</div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Performance Test of WBSS-Applied Low Power Transmission Protocol of ZigBee-based u-Healthcare Monitoring System</h3>
                            <div class="time">2012.</div>
                        </div>
                        <div class="company">International Conference on Computer Applications and Information Processing Technology (CAIPT 2013), JIPS, pp. 197-200</div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Designing a Video Control System for a Traffic Monitoring and Controlling System of Intelligent Traffic Systems, Ubiquitous Computing and Multimedia Applications</h3>
                            <div class="time">2012.</div>
                        </div>
                        <div class="company">Communications in Computer and Information Science, Vol 150, pp. 91-99</div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Study on Low-Power Transmission Protocols for ZigBee Wireless Network-Based Remote Biosignal Monitoring Systems,Ubiquitous Information Technologies and Applications</h3>
                            <div class="time">2012.11</div>
                        </div>
                        <div class="company">Springer LNEE, Vol 214, pp.709-716</div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Design and Evaluation of Safe Seamless Service Model between Multiple Wireless Network Sectionsof u-Wellness Environment, Future Information Technology Application and Service</h3>
                            <div class="time">2012.11</div>
                        </div>
                        <div class="company">Springer LNEE, Vol 179, Part.2, pp. 298-299</div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">VPN Certification Structure Design thorough specific biometric data in Remote Health Monitoring System, Future Information Technology Application and Service</h3>
                            <div class="time">2012.08</div>
                        </div>
                        <div class="company">Springer LNEE, Vol.179, Part.2, pp. 317-323, 2012</div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Public key infrastructure of using the fingerprint information in electronic bidding system,Future Information Technology Application and Service</h3>
                            <div class="time">2012.06</div>
                        </div>
                        <div class="company">Springer LNEE, Vol.164, Part.1, pp. 467-475</div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Designing Medical Integra Interface with u-RPMS and HIS, Future Information Technology Application and Service</h3>
                            <div class="time">2012.06</div>
                        </div>
                        <div class="company">Springer LNEE, Vol.164, Part.1, pp. 339-347</div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Development of Mobile Hybrid MedIntegraWeb App for Interoperation between u-RPMS and HIS,Computational Science and ITS Applications(ICCSA 2012)</h3>
                            <div class="time">2012.06</div>
                        </div>
                        <div class="company">Springer LNCS, Vol.7335, Part.3, pp. 248-258</div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Sensor based real-time remote patient monitoring system: A study on mobile DB construction of minimum network traffic in use of HTML5 WebSQL</h3>
                            <div class="time">2012.01</div>
                        </div>
                        <div class="company">International Workshop on Information and Electronics Engineering (IWIEE 2012), Procedia Engineering, Vol 29, pp. 2382-2387</div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Mobile Cloud e-Gov design and implementation using WebSockets API, International Workshop on IT Service & Cloud Computing (ISCC 2011)</h3>
                            <div class="time">2011.06</div>
                        </div>
                        <div class="company">Springer CCIS, Part I, CCIS 184, pp. 204-2011</div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">A Study on the split algorithm of URL LIST collected by web crawler, International Workshop on IT Service & Cloud Computing (ISCC 2011)</h3>
                            <div class="time">2011.06</div>
                        </div>
                        <div class="company">Springer CCIS, Part I, CCIS 184, pp. 492-499</div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Mobile based HIGHT Encryption for Secure Biometric Information Transfer of USN Remote Patient Monitoring System, International Workshop on IT Service & Cloud Computing (ISCC 2011)</h3>
                            <div class="time">2011.06</div>
                        </div>
                        <div class="company">Springer CCIS, Part V, LNCS 6786, pp. 83-95</div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Designing a Video Control System for a Traffic Monitoring and Controlling System of Intelligent Traffic Systems,Ubiquitous Computing and Multimedia Applications(UCMA 2011)</h3>
                            <div class="time">2011.04</div>
                        </div>
                        <div class="company">Springer CCIS, Part I, CCIS 150, pp. 91-99</div>
                    </div>
                </div>
                외 다수의 논문 발간
            </section>
            <!--//section-->

            <section class="section experiences-section">
                <h2 class="section-title">
                    <span class="icon-holder">
                        <svg class="svg-inline--fa fa-briefcase fa-w-16" aria-hidden="true" data-prefix="fas" data-icon="briefcase" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M320 288h192v144c0 26.51-21.49 48-48 48H48c-26.51 0-48-21.49-48-48V288h192v20c0 6.627 5.373 12 12 12h104c6.627 0 12-5.373 12-12v-20zm192-112v80H0v-80c0-26.51 21.49-48 48-48h80V80c0-26.51 21.49-48 48-48h160c26.51 0 48 21.49 48 48v48h80c26.51 0 48 21.49 48 48zM320 96H192v32h128V96z"></path></svg><!-- <i class="fas fa-briefcase"></i> --></span>                    국내 저명 학술지</h2>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Beacon 위치측위 기술과 행정주소를 연계한 재난재해 상황 전파 연구</h3>
                            <div class="time">2016.09</div>
                        </div>
                        <div class="company">한국정보처리학회, 정보처리학회논문지, Vol 5, No 9, pp. 211-216.</div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">iBeacon을 활용한 측위 시스템 위치추정 기법</h3>
                            <div class="time">2015.04</div>
                        </div>
                        <div class="company">한국정보통신학회, 한국정보통신학회 논문지, Vol.19, No.4, pp. 925-932</div>
                    </div>
                </div>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Linux HA 클러스터링을 이용한 모바일 탄소 모니터링 시스템 구현</h3>
                            <div class="time">2014.02</div>
                        </div>
                        <div class="company">한국정보기술학회,한국정보기술학회 논문지, 제12권, 제02호, pp. 95-102</div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">웰니스 환경에서 암호화 프로토콜 적용을 위한 모바일과 원격 서버간 트래픽 성능 평가</h3>
                            <div class="time">2013.11</div>
                        </div>
                        <div class="company">한국디지털정책학회,한국디지털정책학회 논문지 제 11권, 제 11호, pp. 415-420</div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">모바일 웹에서의 SAR Chart Viewer 설계 및 구현</h3>
                            <div class="time">2013.09</div>
                        </div>
                        <div class="company">국정보통신학회, 한국정보통신학회 논문지,Vol.17, No.9, pp. 2097-2104</div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">모바일 텔레미터링 서비스를 위한 Web SQL Database 효율성 연구</h3>
                            <div class="time">2012.03</div>
                        </div>
                        <div class="company">한국정보기술학회, 한국정보기술학회 논문지, 제10권, 제3호, pp. 195-203</div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Study on Efficient Telemedicine System Design for Ambulance Emergency Situation</h3>
                            <div class="time">2011</div>
                        </div>
                        <div class="company">The Korean Institute of Information and Commucation Engineering, International Journal of Information and Communication Sciences, Vol.9, No.1, pp. 89-94</div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Mobile based HIGHT Encryption for Secure Biometric Information Transfer of USN Remote Patient Monitoring System, International Workshop on IT Service & Cloud Computing (ISCC 2011)</h3>
                            <div class="time">2011.06</div>
                        </div>
                        <div class="company">Springer CCIS, Part V, LNCS 6786, pp. 83-95</div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Designing a Video Control System for a Traffic Monitoring and Controlling System of Intelligent Traffic Systems,Ubiquitous Computing and Multimedia Applications(UCMA 2011)</h3>
                            <div class="time">2011.04</div>
                        </div>
                        <div class="company">Springer CCIS, Part I, CCIS 150, pp. 91-99</div>
                    </div>
                </div>
                외 다수의 논문 발간
            </section>
            <!--//section-->

            <section class="section experiences-section">
                <h2 class="section-title">
                    <span class="icon-holder">
                        <svg class="svg-inline--fa fa-briefcase fa-w-16" aria-hidden="true" data-prefix="fas" data-icon="briefcase" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M320 288h192v144c0 26.51-21.49 48-48 48H48c-26.51 0-48-21.49-48-48V288h192v20c0 6.627 5.373 12 12 12h104c6.627 0 12-5.373 12-12v-20zm192-112v80H0v-80c0-26.51 21.49-48 48-48h80V80c0-26.51 21.49-48 48-48h160c26.51 0 48 21.49 48 48v48h80c26.51 0 48 21.49 48 48zM320 96H192v32h128V96z"></path></svg><!-- <i class="fas fa-briefcase"></i> --></span>국제
                    학술 대회</h2>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">AMQP-Based Subscription Group Message Delivery System Design for Laboratory Safety System</h3>
                            <div class="time">2018.02</div>
                        </div>
                        <div class="company">ICGHIT(The Sixth International Conference on Green and Human Information Technology) 2018</div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">A Study on Optimal Method for Preventing Malfunction of Gas Sensor Using Principal Component Analysis</h3>
                            <div class="time">2017.08</div>
                        </div>
                        <div class="company">The International Conference on Big data, IoT, and Cloud computing(BIC 2017)</div>
                    </div>
                </div>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Analysis on gas sensor malfunction using regression analysis</h3>
                            <div class="time">2017.08</div>
                        </div>
                        <div class="company">International Conference on Computing Convergence and Applications (ICCCA 2017), pp. 63-66</div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Database comparison analysis for big location data processing in Apache Spark</h3>
                            <div class="time">2017.05</div>
                        </div>
                        <div class="company">The 12th International Conference on Future Information Technology (FutureTech2017)</div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <div class="job-title">Design of Device Group Authentication Using Block chain in a Smart Home Environment</div>
                            <div class="time">2017.05</div>
                        </div>
                        <div class="company">The 12th International Conference on Future Information Technology (FutureTech 2017)</div>
                    </div>
                </div>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <div class="job-title">Smart phone filter design to measure the noise between floors</div>
                            <div class="time">2017.02</div>
                        </div>
                        <div class="company">International Conference on Green and Human Information Technology 2017(ICGHIT 2017) IEEE</div>
                    </div>
                </div>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <div class="job-title">An Algorithm for Improving Beacon based Indoor Positioning Accuracy</div>
                            <div class="time">2017.02</div>
                        </div>
                        <div class="company">International Conference on Green and Human Information Technology 2017(ICGHIT 2017) IEEE</div>
                    </div>
                </div>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <div class="job-title">Model design of visualization for Indoor location data</div>
                            <div class="time">2017.02</div>
                        </div>
                        <div class="company">International Conference on Green and Human Information Technology 2017(ICGHIT 2017) IEEE</div>
                    </div>
                </div>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <div class="job-title">Design of Disaster sensor based abnormal detection model using geofencing in IoT environment</div>
                            <div class="time">2017.02</div>
                        </div>
                        <div class="company">International Conference on Green and Human Information Technology 2017(ICGHIT 2017) IEEE</div>
                    </div>
                </div>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <div class="job-title">DESIGN OF A SECURE DISASTER NOTIFICATION SYSTEM USING THE SMATRPHONE BASED BEACON</div>
                            <div class="time">2016.12</div>
                        </div>
                        <div class="company">The Eight International Conference on Networks & Communications Computer Science & Information Technology Vol 1 pp. 1-12</div>
                    </div>
                </div>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <div class="job-title">Design of Smartphone based authentication protocol for beacon betection in disaster system</div>
                            <div class="time">2016.08</div>
                        </div>
                        <div class="company">International Conference on Electronic Information and Communication Technology Computer Science & Information Technology pp. 97-102</div>
                    </div>
                </div>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <div class="job-title">Design of Beacon-based access control system that applies RBAC</div>
                            <div class="time">2016.07</div>
                        </div>
                        <div class="company">The first International Conference on Industrial Academic Smart Convergence Technology IASCT2016</div>
                    </div>
                </div>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <div class="job-title">A model Design for the Pattern Analysis on Indoor Location Data based on Beacon</div>
                            <div class="time">2016.07</div>
                        </div>
                        <div class="company">The first International Conference on Industrial Academic Smart Convergence Technology IASCT2016</div>
                    </div>
                </div>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <div class="job-title">Design of MDM service that applies BLE Beacon</div>
                            <div class="time">2015.07</div>
                        </div>
                        <div class="company">International Conference on Convergence Technology 2015, ICCT 2015, pp. 221-222</div>
                    </div>
                </div>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <div class="job-title">Design of access control system based on beacon and heterogeneous</div>
                            <div class="time">2015.07</div>
                        </div>
                        <div class="company">International Conference on Convergence Technology 2015 ICCT 2015 pp. 410-413</div>
                    </div>
                </div>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <div class="job-title">Design of disaster information collection system that uses Crowd Sensing big data based REDIS</div>
                            <div class="time">2015.07</div>
                        </div>
                        <div class="company">International Conference on Convergence Technology 2015 ICCT 2015 pp. 217-218</div>
                    </div>
                </div>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <div class="job-title">SSL Application for Managed Security between the Mobile and HIS Biometric Information Collection Client</div>
                            <div class="time">2015.07</div>
                        </div>
                        <div class="company">Institute of Electrical and Electronics Engineers(IEEE) International Conference on Information Science and Applications 2013 (ICISA 2013) pp. 379-382</div>
                    </div>
                </div>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <div class="job-title">A Study on Green IT Mobile Security Control System using Nginx and Google Chart API</div>
                            <div class="time">2013.06</div>
                        </div>
                        <div class="company">International Conference on Digital Policy & Management (ICDPM 2013) Vol.1 No.1 pp. 253-254</div>
                    </div>
                </div>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <div class="job-title">The communication performance evaluation between the remote server and SmartMobile using theBiometric information in the U-WHS environment</div>
                            <div class="time">2013.10</div>
                        </div>
                        <div class="company">Korea Convergence Society The 3rd International Conference on Conve-rgence Technology in 2013 (ICCT 2013) pp. 902-903</div>
                    </div>
                </div>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <div class="job-title">Research on Patient-oriented Circulation Loop DB System adopting HDFS</div>
                            <div class="time">2013.07</div>
                        </div>
                        <div class="company">Korea Convergence Society,The 3rd International Conference on Convergence Technology in 2013 (ICCT 2013) pp. 912-913</div>
                    </div>
                </div>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <div class="job-title">The study of security training system coping social engineering attacks</div>
                            <div class="time">2013.07</div>
                        </div>
                        <div class="company">Korea Convergence Society,The 3rd International Conference on Convergence Technology in 2013 (ICCT 2013) pp. 918-983</div>
                    </div>
                </div>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <div class="job-title">Comparision & Analysis of HIGHT and SEED for the Protection of Biometric Information atU-Wellness Healthcare System</div>
                            <div class="time">2013.07</div>
                        </div>
                        <div class="company">Institute of Electrical and Electronics Engineers(IEEE) International Conference on Information Science and Applications 2013 (ICISA 2013) pp. 379-382</div>
                    </div>
                </div>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <div class="job-title">Implementation of u-RPMS using Google Chart in hybrid application for visualization of patient’s biometric information</div>
                            <div class="time">2013.06</div>
                        </div>
                        <div class="company">Institute of Electrical and Electronics Engineers(IEEE) International Conference on Information Science and Applications 2013 (ICISA 2013) pp.580-583</div>
                    </div>
                </div>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <div class="job-title">Study on Medical Emergency Alert Algorithm Based on Acceleration Algorithm</div>
                            <div class="time">2013.06</div>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <div class="job-title"></div>
                            <div class="time">2013.06</div>
                        </div>
                        <div class="company">Institute of Electrical and Electronics Engineers(IEEE) International Conference on Information Science and Applications 2013 (ICISA 2013) pp. 77-80</div>
                    </div>
                </div>


                외 다수의 논문 발간
            </section>




            <section class="section experiences-section">
                <h2 class="section-title">
                    <span class="icon-holder">
                        <svg class="svg-inline--fa fa-briefcase fa-w-16" aria-hidden="true" data-prefix="fas" data-icon="briefcase" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M320 288h192v144c0 26.51-21.49 48-48 48H48c-26.51 0-48-21.49-48-48V288h192v20c0 6.627 5.373 12 12 12h104c6.627 0 12-5.373 12-12v-20zm192-112v80H0v-80c0-26.51 21.49-48 48-48h80V80c0-26.51 21.49-48 48-48h160c26.51 0 48 21.49 48 48v48h80c26.51 0 48 21.49 48 48zM320 96H192v32h128V96z"></path></svg><!-- <i class="fas fa-briefcase"></i> --></span>국내
                    학술 대회</h2>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <div class="job-title">연구실 안전관리 환경에서 무선 센서 노드 기반 데이터 모니터링 시스템 설계</div>
                            <div class="time">2018.01</div>
                        </div>
                        <div class="company">2018년도 한국정보통신학회 동계종합학술대회</div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <div class="job-title">연구실 환경에서 IoT 센서를 이용한 공기질 분석 연구</div>
                            <div class="time">2018.01 </div>
                        </div>
                        <div class="company">2018년도 한국정보통신학회 동계종합학술대회</div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <div class="job-title">OTP를 이용한 Beacon기반 출입통제 인증 시스템</div>
                            <div class="time">2015.10</div>
                        </div>
                        <div class="company">한국정보처리학회,2015년 추계학술발표대회 논문집, 제22권 제2호, pp.880-882</div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <div class="job-title">SNS 텍스트 마이닝을 위한 웹문서 인코딩 자동 인식 기술 방안</div>
                            <div class="time">2015.10</div>
                        </div>
                        <div class="company">한국정보처리학회2015년 추계학술발표대회 논문집, 제22권 제2호, pp.415-417</div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <div class="job-title">침해사고 예방을 위한 정보보안 교육훈련 문제은행 시스템</div>
                            <div class="time">2015.05</div>
                        </div>
                        <div class="company">한국정보통신학회, 2015년 종합학술대회 논문집 춘계, 제19권, 제1호, pp.277-280</div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <div class="job-title">스마트폰 기반의 WiFi와 Beacon을 결합한 실내위치측위 알고리즘 연구</div>
                            <div class="time">2015.05</div>
                        </div>
                        <div class="company">한국정보통신학회, 2015년 종합학술대회 논문집 춘계, 제19권, 제1호, pp.298-300</div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <div class="job-title">Ontology 기반 BLE를 이용한 실내 재난방재 시스템 설계</div>
                            <div class="time">2015.04</div>
                        </div>
                        <div class="company">한국정보처리학회, 2015년 춘계학술발표대회 논문집, 제22권, 제1호, pp.199-202</div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <div class="job-title">탄소 모니터링 환경에서 무선 PKI를 적용한 무선 관제시스템 연구</div>
                            <div class="time">2013.01</div>
                        </div>
                        <div class="company">한국통신학회,한국통신학회 2013년도 동계종합학술발표회, pp.202-203</div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <div class="job-title">탄소미터링 시스템에서 보안 취약점 개선을 위한 암호화 프로토콜 연구</div>
                            <div class="time">2013.01</div>
                        </div>
                        <div class="company">한국통신학회,한국통신학회 2013년도 동계종합학술발표회, pp.114-115</div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <div class="job-title">시각장애인을 위한 키넥트와 진동센서 기반의 재활 운동 서비스 연구</div>
                            <div class="time">2012.11</div>
                        </div>
                        <div class="company">한국통신학회,한국통신학회 2012년도 추계종합학술발표회 논문집, Vol.49, pp.181-182</div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <div class="job-title">초음파 센서와 Kinect를 결합한 키 측정 방식에 관한 연구</div>
                            <div class="time">2012.11</div>
                        </div>
                        <div class="company">한국통신학회,한국통신학회 2012년도 추계종합학술발표회 논문집, Vol.49, pp.185-186</div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <div class="job-title">QRcode를 이용한 생체정보 바이너리 모듈 연구</div>
                            <div class="time">2012.10</div>
                        </div>
                        <div class="company">한국정보통신학회,2012년 종합학술대회 논문집, 제16권, 제2호, pp.431-434</div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <div class="job-title">환자 중심의 서비스를 위한 모바일 순환 Loop DB 시스템 연구</div>
                            <div class="time">2012.10</div>
                        </div>
                        <div class="company">한국정보통신학회,2012년 종합학술대회 논문집, 제16권, 제2호, pp.361-364</div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <div class="job-title">분산크롤러수집기반의 웹크롤러를 이용한 URL중복방지알고리즘 연구</div>
                            <div class="time">2012.06</div>
                        </div>
                        <div class="company">한국통신학회, 2012년도 한국통신학회 하계종합학술발표회 논문집, Vol.48, pp.884-885</div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <div class="job-title">스마트모바일 기반의 u-Health시스템에서 HIGHT를 이용한 보안성 분석</div>
                            <div class="time">2012.04</div>
                        </div>
                        <div class="company">한국정보처리학회, 제37회 한국정보처리학회 춘계학술발표대회 논문집, 제19권, 제1호, pp.738-741</div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <div class="job-title">WBAN을 기반으로 한 OpenEMed의 PIDS를 이용한 Kerberos 인증</div>
                            <div class="time">2012.04</div>
                        </div>
                        <div class="company">한국정보처리학회, 제37회 한국정보처리학회 춘계학술발표대회 논문집, 제19권, 제1호, pp.734-737</div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <div class="job-title">그린 클라우드를 위한 스마트 탄소 통합관제시스템의 저탄소 프로토콜 설계</div>
                            <div class="time">2011.11</div>
                        </div>
                        <div class="company">한국정보처리학회, 제36회 추계학술발표대회 논문집 제18권 제1호, pp.654-657</div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <div class="job-title">모바일 원격의료 클라우드 환경에서 Qrcode를 이용한 사용자 검증 시스템 연구</div>
                            <div class="time">2011.11</div>
                        </div>
                        <div class="company">한국정보처리학회, 제36회 추계학술발표대회 논문집 제18권 제1호, pp.858-861</div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <div class="job-title">Web SQL Database 기술을 이용한 유비쿼터스 화재 방재 모니터링 시스템 연구</div>
                            <div class="time">2011.05</div>
                        </div>
                        <div class="company">한국정보처리학회, 제35회 춘계학술발표대회 논문집 제18권 제1호, pp.1020-1023</div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <div class="job-title">모바일 VPN의 OTP를 이용한 모바일 화재 방재 모니터링 시스템 설계</div>
                            <div class="time">2011.05</div>
                        </div>
                        <div class="company">한국정보처리학회, 제35회 춘계학술발표대회 논문집 제18권 제1호, pp.1268-1271</div>
                    </div>
                </div>
                외 다수
            </section>

        </div>
        <!--//main-body-->
    </div>

    <% include ../include/footer %>