<% include ../include/header %>

    <div class="wrapper">
        <div class="sidebar-wrapper">
            <div class="profile-container">
                <img class="profile" src="assets/images/profile.png" alt="">
                <h1 class="name">이재광</h1>
                <h3 class="tagline">(Jaekwang Lee)</h3>
                <h3 class="tagline">Professor</h3>
            </div>
            <!--//profile-container-->

            <div class="contact-container container-block">
                <ul class="list-unstyled contact-list">
                    <li class="email">
                        <i class="fal fa-envelope-open-text"></i><a href="#">이메일 주소 보기</a>
                    </li>
                    <li class="phone">
                        <!-- <i class="fas fa-phone"></i> --><a href="tel:042-629-7559">042-629-7559</a>
                    </li>
                </ul>
            </div>
            <!--//contact-container-->
            <div class="education-container container-block">
                <h2 class="container-block-title">Education</h2>
                <div class="item">
                    <h4 class="degree">전자계산학과 박사</h4>
                    <h5 class="meta">광운대학교</h5>
                    <div class="time">2011 - 2012</div>
                </div>
                <!--//item-->
                <div class="item">
                    <h4 class="degree">전자계산학과 석사학위</h4>
                    <h5 class="meta">광운대학교</h5>
                    <div class="time">2007 - 2011</div>
                </div>
                <div class="item">
                    <h4 class="degree">전자계산학과 학사학위</h4>
                    <h5 class="meta">광운대학교</h5>
                    <div class="time">2007 - 2011</div>
                </div>
                <!--//item-->
            </div>
            <!--//education-container-->

            <!-- <div class="languages-container container-block">
                <h2 class="container-block-title">Languages</h2>
                <ul class="list-unstyled interests-list">
                    <li>English <span class="lang-desc">(Native)</span></li>
                    <li>French <span class="lang-desc">(Professional)</span></li>
                    <li>Spanish <span class="lang-desc">(Professional)</span></li>
                </ul>
            </div> -->
            <!--//interests-->

            <div class="interests-container container-block">
                <h2 class="container-block-title">연구분야</h2>
                <ul class="list-unstyled interests-list">
                    <li>암호</li>
                    <li>정보보호</li>
                    <li>네트워크 보안</li>
                </ul>
            </div>
            <!--//interests-->

        </div>
        <!--//sidebar-wrapper-->

        <div class="main-wrapper">

            <section class="section summary-section">
                <h2 class="section-title"><span class="icon-holder"><svg class="svg-inline--fa fa-user fa-w-14" aria-hidden="true" data-prefix="fas" data-icon="user" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm89.6 32h-16.7c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16h-16.7C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6c0-74.2-60.2-134.4-134.4-134.4z"></path></svg><!-- <i class="fas fa-user"></i> --></span>인적사항
                </h2>
                <div class="summary">
                    <div>이재광(Dr. Lee Jae Kwang)</div>
                    <div>- 네트워크 실험실 지도교수</div>
                    <div>- 한남대학교 컴퓨터공학과 교수</div>
                </div>
                <!--//summary-->
            </section>
            <!--//section-->

            <section class="section experiences-section">
                <h2 class="section-title"><span class="icon-holder"><svg class="svg-inline--fa fa-briefcase fa-w-16" aria-hidden="true" data-prefix="fas" data-icon="briefcase" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M320 288h192v144c0 26.51-21.49 48-48 48H48c-26.51 0-48-21.49-48-48V288h192v20c0 6.627 5.373 12 12 12h104c6.627 0 12-5.373 12-12v-20zm192-112v80H0v-80c0-26.51 21.49-48 48-48h80V80c0-26.51 21.49-48 48-48h160c26.51 0 48 21.49 48 48v48h80c26.51 0 48 21.49 48 48zM320 96H192v32h128V96z"></path></svg><!-- <i class="fas fa-briefcase"></i> --></span>경력사항</h2>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">컴퓨터공학과 정교수</h3>
                            <div class="time">2002.10 - 현 재</div>
                        </div>
                        <!--//upper-row-->
                        <div class="company">한남대학교</div>
                    </div>
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">교무연구처장</h3>
                            <div class="time">2017.08 - 현 재</div>
                        </div>
                        <!--//upper-row-->
                        <div class="company">한남대학교</div>
                    </div>
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">교무연구처장</h3>
                            <div class="time">2012.03 - 2013.02</div>
                        </div>
                        <!--//upper-row-->
                        <div class="company">한남대학교</div>
                    </div>
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">협회의장</h3>
                            <div class="time">2010.07 - 2012.02</div>
                        </div>
                        <!--//upper-row-->
                        <div class="company">산학연 대전지역</div>
                    </div>
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">센터장</h3>
                            <div class="time">2009.03 - 2012.02</div>
                        </div>
                        <!--//upper-row-->
                        <div class="company">중소기업산학협력센터</div>
                    </div>
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">컴퓨터공학과 학과장</h3>
                            <div class="time">2008.03 - 2010.02</div>
                        </div>
                        <!--//upper-row-->
                        <div class="company">한남대학교</div>
                    </div>
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">컴퓨터공학과 야간 학과장</h3>
                            <div class="time">2004.03 - 2005.12</div>
                        </div>
                        <!--//upper-row-->
                        <div class="company">한남대학교</div>
                    </div>
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">학술정보처장</h3>
                            <div class="time">2003.03 - 2004.02</div>
                        </div>
                        <!--//upper-row-->
                        <div class="company">한남대학교</div>
                    </div>
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">주임교수</h3>
                            <div class="time">2002.03 - 2004.02</div>
                        </div>
                        <!--//upper-row-->
                        <div class="company">필리핀 IT 대학원</div>
                    </div>
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">정보통신 교육원장</h3>
                            <div class="time">2002.03 - 2003.02</div>
                        </div>
                        <!--//upper-row-->
                        <div class="company">한남대학교</div>
                    </div>
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">정보보호기술연구본부 초빙연구원</h3>
                            <div class="time">2001.09 - 2001.12</div>
                        </div>
                        <!--//upper-row-->
                        <div class="company">한국전자통신연구원</div>
                    </div>
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">산업기술연구소장</h3>
                            <div class="time">2001.03 - 2003.02</div>
                        </div>
                        <!--//upper-row-->
                        <div class="company">한남대학교</div>
                    </div>
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">객원교수</h3>
                            <div class="time">1997.08 - 1998.07</div>
                        </div>
                        <!--//upper-row-->
                        <div class="company">미국 University of Alabama</div>
                    </div>
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">컴퓨터공학 부교수</h3>
                            <div class="time">1993.08 - 2002.09</div>
                        </div>
                        <!--//upper-row-->
                        <div class="company">한남대학교</div>
                    </div>
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">전자계산학 부교수</h3>
                            <div class="time">1993.03 - 1993.08</div>
                        </div>
                        <!--//upper-row-->
                        <div class="company">한남대학교</div>
                    </div>
                </div>
                <!--//item-->

               

            </section>
            <!--//section-->

            <section class="section projects-section">
                <h2 class="section-title"><span class="icon-holder"><svg class="svg-inline--fa fa-archive fa-w-16" aria-hidden="true" data-prefix="fas" data-icon="archive" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M32 448c0 17.7 14.3 32 32 32h384c17.7 0 32-14.3 32-32V160H32v288zm160-212c0-6.6 5.4-12 12-12h104c6.6 0 12 5.4 12 12v8c0 6.6-5.4 12-12 12H204c-6.6 0-12-5.4-12-12v-8zM480 32H32C14.3 32 0 46.3 0 64v48c0 8.8 7.2 16 16 16h480c8.8 0 16-7.2 16-16V64c0-17.7-14.3-32-32-32z"></path></svg><!-- <i class="fas fa-archive"></i> --></span>학위논문</h2>
                <span class="company">석사학위 논문</span>
                <div class="intro">
                    <div>Addressing Mapping 구조를 이용한 Text Editor에 관한 연구, 1985</div>
                </div>
                <span class="company">박사학위 논문</span>
                <div class="intro">
                    <div>근거리 통신망에서의 정보보호 프로토콜, 1992</div>
                </div>
               
            </section>
            <!--//section-->

          ㄴ

        </div>
        <!--//main-body-->
    </div>

    <% include ../include/footer %>