<% include ../include/header %>

    <div class="wrapper">
        <div class="sidebar-wrapper">
            <div class="profile-container">
                <h1 class="name">연구실적</h1>
            </div>

        </div>
        <!--//sidebar-wrapper-->

        <div class="main-wrapper">

            <section class="section experiences-section">
                <h2 class="section-title"><span class="icon-holder"><svg class="svg-inline--fa fa-briefcase fa-w-16" aria-hidden="true" data-prefix="fas" data-icon="briefcase" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M320 288h192v144c0 26.51-21.49 48-48 48H48c-26.51 0-48-21.49-48-48V288h192v20c0 6.627 5.373 12 12 12h104c6.627 0 12-5.373 12-12v-20zm192-112v80H0v-80c0-26.51 21.49-48 48-48h80V80c0-26.51 21.49-48 48-48h160c26.51 0 48 21.49 48 48v48h80c26.51 0 48 21.49 48 48zM320 96H192v32h128V96z"></path></svg><!-- <i class="fas fa-briefcase"></i> --></span>국제
                    저명 학술지</h2>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Positioning model design using Beacon and Geomagnetic sensor of Smartphone, Advances in Computer Science and Ubiquitous Computing</h3>
                            <div class="time">2017.12</div>
                        </div>
                        <div class="company">Springer Singapore LNEE, vol 474, pp. 192-197</div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">A Study on the Designing of a Laboratory Accident Cognition Model Using Smart Sensor Based Decision Tree</h3>
                            <div class="time">2017.12</div>
                        </div>
                        <div class="company">Advances in Computer Science and Ubiquitous Computing, Springer Singapore LNEE, vol 474, pp. 180-186,</div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <div class="job-title">A Study on LEA and Seed Algorithms for Data Protection of Smartphone Based Disaster Notification System</div>
                            <h3 class="time">2017.01</h3>
                        </div>
                        <div class="company">International Journal of Network Security & Its Applications(IJNSA), IJNSA, Vol 9, No 1, pp. 1-12</div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Design of Security Training System for Individual Users, Wireless Personal Communications</h3>
                            <div class="time">2016.10</div>
                        </div>
                        <div class="company">Springer US, Vol 90, pp1105-1120, </div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Design of MDM System using BLE Beacon and Extended Kalman Filter</h3>
                            <div class="time">2016.8</div>
                        </div>
                        <div class="company">Indian Journal of Science & Technology, Indian Society for Education and Environment and copublished by Informatics, Vol 9, Issue 29, </div>
                    </div>
                </div>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Method for Improving Indoor Positioning Accuracy Using Extended Kalman Filter</h3>
                            <div class="time">2016.04</div>
                        </div>
                        <div class="company">Mobile Information Systems, Hindawi Publishing Corporation, Vol 2016(2016), 15page</div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title"></h3>
                            <div class="time">2016.04</div>
                        </div>
                        <div class="company">INFORMATION An International Interdisciplinary Journal, 2016 Internartional Information Institute, Vol 19, No. 3 pp. 981-986. </div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Design of Access Control System combining beacon and heterogeneous-sensor for minimizing leakage of confidential information</h3>
                            <div class="time">2016.01</div>
                        </div>
                        <div class="company">International Journal of Applied Engineering Research, International Journal of Computer Science and Intelligent Computing (IJCSIC 2015), Vol 10, pp. 115-118</div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Design and Implementation of Disater Information Alert System Using Pyhton in Ubiquitous Environment</h3>
                            <div class="time">2015.12</div>
                        </div>
                        <div class="company">International Conference on Ubiquitous Information Technologies and Applications (CUTE 2015), Springer LNEE, Vol 373, pp. 403-409</div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Design of Disaster Information Collection System Base on In-memory in Crowd Sensing Environments,</h3>
                            <div class="time">2015.10</div>
                        </div>
                        <div class="company">International Journal of Applied Engineering Research, International Journal of Computer Science and Intelligent Computing(IJCSIC 2015), Vol 10, pp. 662-666</div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Design of Disaster Collection and Analysis System Using Crowd Sensing and Beacon Based on HadoopFramework</h3>
                            <div class="time">2015.06</div>
                        </div>
                        <div class="company">Computational Science and Its Applications(ICCSA 2015), Springer LNCS, Vol 9158, pp. 106-116</div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Hybrid app security protocol for high speed mobile communication</h3>
                            <div class="time">2014.11</div>
                        </div>
                        <div class="company">Springer US, The Journal of Supercomputing, Vol 1, pp. 1-25</div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Kinect-Based Monitoring System to Prevent Seniors Who Live Alone from Solitary Death,Computational Science and Its Applications(ICCSA 2014)</h3>
                            <div class="time">2014.07</div>
                        </div>
                        <div class="company">Springer LNCS, Vol 8582, pp.709-719</div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">The Analysis and Countermeasures on Security Breach of Bitcoin, Computational Science and Its Applications(ICCSA 2014)</h3>
                            <div class="time">2014.07</div>
                        </div>
                        <div class="company">Springer LNCS, Vol 8582, pp. 720-732</div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Study on Encryption of Wireless Network-Based Mobility Energy-Enterprise Security Management,FTRA International Symposium on Frontier and Innovation in Future Computing and Communications (FCC 2014)</h3>
                            <div class="time">2014.01</div>
                        </div>
                    </div>
                    <div class="company">Springer LNEE(Lecture Notes in Electrical Engineering), Vol 301, pp. 221-227</div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Assessment of Compatibility between Standard Medical System of u-RPMS and HL7</h3>
                            <div class="time">2013.12</div>
                        </div>
                        <div class="company">Conference on Ubiquitous Information Technologies and Applications(CUTE 2013), Springer LNEE, Vol 280, pp. 387-394</div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Preformance Evaluaion of WDS-based Mobile ITS Video Control System for Smart for Smart APTTraffic Control</h3>
                            <div class="time">2013.12</div>
                        </div>
                        <div class="company">Conference on Ubiquitous Information Technologies and Applications (CUTE 2013), Springer LNEE, Vol 280, pp. 819-826</div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Empirical Study of Email Security Threatsand Countermeasures</h3>
                            <div class="time">2014.08</div>
                        </div>
                        <div class="company">Networks and Communications (NetCom2013),Springer LNEE, Vol 284, pp. 229-242</div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">A Study on Algorithm to Identify the Abnormal Status of a Patient using Acceleration Algorithm,</h3>
                            <div class="time">2013.06</div>
                        </div>
                        <div class="company">Springer London, Personal and Ubiquitous Computing Journal, Vol 18, pp.1337-1350</div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Performance Test of WBSS-Applied Low Power Transmission Protocol of ZigBee-based u-Healthcare Monitoring System</h3>
                            <div class="time">2012.</div>
                        </div>
                        <div class="company">International Conference on Computer Applications and Information Processing Technology (CAIPT 2013), JIPS, pp. 197-200</div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Designing a Video Control System for a Traffic Monitoring and Controlling System of Intelligent Traffic Systems, Ubiquitous Computing and Multimedia Applications</h3>
                            <div class="time">2012.</div>
                        </div>
                        <div class="company">Communications in Computer and Information Science, Vol 150, pp. 91-99</div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Study on Low-Power Transmission Protocols for ZigBee Wireless Network-Based Remote Biosignal Monitoring Systems,Ubiquitous Information Technologies and Applications</h3>
                            <div class="time">2012.11</div>
                        </div>
                        <div class="company">Springer LNEE, Vol 214, pp.709-716</div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Design and Evaluation of Safe Seamless Service Model between Multiple Wireless Network Sectionsof u-Wellness Environment, Future Information Technology Application and Service</h3>
                            <div class="time">2012.11</div>
                        </div>
                        <div class="company">Springer LNEE, Vol 179, Part.2, pp. 298-299</div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">VPN Certification Structure Design thorough specific biometric data in Remote Health Monitoring System, Future Information Technology Application and Service</h3>
                            <div class="time">2012.08</div>
                        </div>
                        <div class="company">Springer LNEE, Vol.179, Part.2, pp. 317-323, 2012</div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Public key infrastructure of using the fingerprint information in electronic bidding system,Future Information Technology Application and Service</h3>
                            <div class="time">2012.06</div>
                        </div>
                        <div class="company">Springer LNEE, Vol.164, Part.1, pp. 467-475</div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Designing Medical Integra Interface with u-RPMS and HIS, Future Information Technology Application and Service</h3>
                            <div class="time">2012.06</div>
                        </div>
                        <div class="company">Springer LNEE, Vol.164, Part.1, pp. 339-347</div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Development of Mobile Hybrid MedIntegraWeb App for Interoperation between u-RPMS and HIS,Computational Science and ITS Applications(ICCSA 2012)</h3>
                            <div class="time">2012.06</div>
                        </div>
                        <div class="company">Springer LNCS, Vol.7335, Part.3, pp. 248-258</div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Sensor based real-time remote patient monitoring system: A study on mobile DB construction of minimum network traffic in use of HTML5 WebSQL</h3>
                            <div class="time">2012.01</div>
                        </div>
                        <div class="company">International Workshop on Information and Electronics Engineering (IWIEE 2012), Procedia Engineering, Vol 29, pp. 2382-2387</div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Mobile Cloud e-Gov design and implementation using WebSockets API, International Workshop on IT Service & Cloud Computing (ISCC 2011)</h3>
                            <div class="time">2011.06</div>
                        </div>
                        <div class="company">Springer CCIS, Part I, CCIS 184, pp. 204-2011</div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">A Study on the split algorithm of URL LIST collected by web crawler, International Workshop on IT Service & Cloud Computing (ISCC 2011)</h3>
                            <div class="time">2011.06</div>
                        </div>
                        <div class="company">Springer CCIS, Part I, CCIS 184, pp. 492-499</div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Mobile based HIGHT Encryption for Secure Biometric Information Transfer of USN Remote Patient Monitoring System, International Workshop on IT Service & Cloud Computing (ISCC 2011)</h3>
                            <div class="time">2011.06</div>
                        </div>
                        <div class="company">Springer CCIS, Part V, LNCS 6786, pp. 83-95</div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Designing a Video Control System for a Traffic Monitoring and Controlling System of Intelligent Traffic Systems,Ubiquitous Computing and Multimedia Applications(UCMA 2011)</h3>
                            <div class="time">2011.04</div>
                        </div>
                        <div class="company">Springer CCIS, Part I, CCIS 150, pp. 91-99</div>
                    </div>
                </div>
                외 다수의 논문 발간
            </section>
            <!--//section-->

            <section class="section experiences-section">
                <h2 class="section-title">
                    <span class="icon-holder">
                        <svg class="svg-inline--fa fa-briefcase fa-w-16" aria-hidden="true" data-prefix="fas" data-icon="briefcase" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M320 288h192v144c0 26.51-21.49 48-48 48H48c-26.51 0-48-21.49-48-48V288h192v20c0 6.627 5.373 12 12 12h104c6.627 0 12-5.373 12-12v-20zm192-112v80H0v-80c0-26.51 21.49-48 48-48h80V80c0-26.51 21.49-48 48-48h160c26.51 0 48 21.49 48 48v48h80c26.51 0 48 21.49 48 48zM320 96H192v32h128V96z"></path></svg><!-- <i class="fas fa-briefcase"></i> --></span>                    국내 저명 학술지</h2>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Beacon 위치측위 기술과 행정주소를 연계한 재난재해 상황 전파 연구</h3>
                            <div class="time">2016.09</div>
                        </div>
                        <div class="company">한국정보처리학회, 정보처리학회논문지, Vol 5, No 9, pp. 211-216.</div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">iBeacon을 활용한 측위 시스템 위치추정 기법</h3>
                            <div class="time">2015.04</div>
                        </div>
                        <div class="company">한국정보통신학회, 한국정보통신학회 논문지, Vol.19, No.4, pp. 925-932</div>
                    </div>
                </div>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Designing Medical Integra Interface with u-RPMS and HIS, Future Information Technology Application and Service</h3>
                            <div class="time">2012.06</div>
                        </div>
                        <div class="company">Springer LNEE, Vol.164, Part.1, pp. 339-347</div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Development of Mobile Hybrid MedIntegraWeb App for Interoperation between u-RPMS and HIS,Computational Science and ITS Applications(ICCSA 2012)</h3>
                            <div class="time">2012.06</div>
                        </div>
                        <div class="company">Springer LNCS, Vol.7335, Part.3, pp. 248-258</div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Sensor based real-time remote patient monitoring system: A study on mobile DB construction of minimum network traffic in use of HTML5 WebSQL</h3>
                            <div class="time">2012.01</div>
                        </div>
                        <div class="company">International Workshop on Information and Electronics Engineering (IWIEE 2012), Procedia Engineering, Vol 29, pp. 2382-2387</div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Mobile Cloud e-Gov design and implementation using WebSockets API, International Workshop on IT Service & Cloud Computing (ISCC 2011)</h3>
                            <div class="time">2011.06</div>
                        </div>
                        <div class="company">Springer CCIS, Part I, CCIS 184, pp. 204-2011</div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">A Study on the split algorithm of URL LIST collected by web crawler, International Workshop on IT Service & Cloud Computing (ISCC 2011)</h3>
                            <div class="time">2011.06</div>
                        </div>
                        <div class="company">Springer CCIS, Part I, CCIS 184, pp. 492-499</div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Mobile based HIGHT Encryption for Secure Biometric Information Transfer of USN Remote Patient Monitoring System, International Workshop on IT Service & Cloud Computing (ISCC 2011)</h3>
                            <div class="time">2011.06</div>
                        </div>
                        <div class="company">Springer CCIS, Part V, LNCS 6786, pp. 83-95</div>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Designing a Video Control System for a Traffic Monitoring and Controlling System of Intelligent Traffic Systems,Ubiquitous Computing and Multimedia Applications(UCMA 2011)</h3>
                            <div class="time">2011.04</div>
                        </div>
                        <div class="company">Springer CCIS, Part I, CCIS 150, pp. 91-99</div>
                    </div>
                </div>
                외 다수의 논문 발간
            </section>
            <!--//section-->

            <section class="section projects-section">
                <h2 class="section-title"><span class="icon-holder"><svg class="svg-inline--fa fa-archive fa-w-16" aria-hidden="true" data-prefix="fas" data-icon="archive" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M32 448c0 17.7 14.3 32 32 32h384c17.7 0 32-14.3 32-32V160H32v288zm160-212c0-6.6 5.4-12 12-12h104c6.6 0 12 5.4 12 12v8c0 6.6-5.4 12-12 12H204c-6.6 0-12-5.4-12-12v-8zM480 32H32C14.3 32 0 46.3 0 64v48c0 8.8 7.2 16 16 16h480c8.8 0 16-7.2 16-16V64c0-17.7-14.3-32-32-32z"></path></svg><!-- <i class="fas fa-archive"></i> --></span>Projects</h2>
                <div class="intro">
                    <p>You can list your side projects or open source libraries in this section. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ligula in nunc bibendum fringilla a eu lectus.</p>
                </div>
                <!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="#hook">Velocity</a></span> - <span class="project-tagline">A responsive website template designed to help startups promote, market and sell their products.</span>

                </div>
                <!--//item-->
                <div class="item">
                    <span class="project-title"><a href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-web-development-agencies-devstudio/" target="_blank">DevStudio</a></span> -
                    <span class="project-tagline">A responsive website template designed to help web developers/designers market their services. </span>
                </div>
                <!--//item-->
                <div class="item">
                    <span class="project-title"><a href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-startups-tempo/" target="_blank">Tempo</a></span> - <span class="project-tagline">A responsive website template designed to help startups promote their products or services and to attract users &amp; investors</span>
                </div>
                <!--//item-->
                <div class="item">
                    <span class="project-title"><a href="hhttp://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-mobile-apps-atom/" target="_blank">Atom</a></span> - <span class="project-tagline">A comprehensive website template solution for startups/developers to market their mobile apps. </span>
                </div>
                <!--//item-->
                <div class="item">
                    <span class="project-title"><a href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-mobile-apps-delta/" target="_blank">Delta</a></span> - <span class="project-tagline">A responsive Bootstrap one page theme designed to help app developers promote their mobile apps</span>
                </div>
                <!--//item-->
            </section>
            <!--//section-->

            <section class="skills-section section">
                <h2 class="section-title"><span class="icon-holder"><svg class="svg-inline--fa fa-rocket fa-w-16" aria-hidden="true" data-prefix="fas" data-icon="rocket" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M505.1 19.1C503.8 13 499 8.2 492.9 6.9 460.7 0 435.5 0 410.4 0 307.2 0 245.3 55.2 199.1 128H94.9c-18.2 0-34.8 10.3-42.9 26.5L2.6 253.3c-8 16 3.6 34.7 21.5 34.7h95.1c-5.9 12.8-11.9 25.5-18 37.7-3.1 6.2-1.9 13.6 3 18.5l63.6 63.6c4.9 4.9 12.3 6.1 18.5 3 12.2-6.1 24.9-12 37.7-17.9V488c0 17.8 18.8 29.4 34.7 21.5l98.7-49.4c16.3-8.1 26.5-24.8 26.5-42.9V312.8c72.6-46.3 128-108.4 128-211.1.1-25.2.1-50.4-6.8-82.6zM400 160c-26.5 0-48-21.5-48-48s21.5-48 48-48 48 21.5 48 48-21.5 48-48 48z"></path></svg><!-- <i class="fas fa-rocket"></i> --></span>Skills
                    &amp; Proficiency</h2>
                <div class="skillset">
                    <div class="item">
                        <h3 class="level-title">Python &amp; Django</h3>
                        <div class="progress level-bar">
                            <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 99%" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <!--//item-->

                    <div class="item">
                        <h3 class="level-title">Javascript &amp; jQuery</h3>
                        <div class="progress level-bar">
                            <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 98%" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <!--//item-->

                    <div class="item">
                        <h3 class="level-title">Angular</h3>
                        <div class="progress level-bar">
                            <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 98%" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <!--//item-->

                    <div class="item">
                        <h3 class="level-title">HTML5 &amp; CSS</h3>
                        <div class="progress level-bar">
                            <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <!--//item-->

                    <div class="item">
                        <h3 class="level-title">Ruby on Rails</h3>
                        <div class="progress level-bar">
                            <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <!--//item-->

                    <div class="item">
                        <h3 class="level-title">Sketch &amp; Photoshop</h3>
                        <div class="progress level-bar">
                            <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <!--//item-->

                </div>
            </section>
            <!--//skills-section-->

        </div>
        <!--//main-body-->
    </div>

    <% include ../include/footer %>