<% include ../include/header %>

    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4">가상강의실</h1>
            <p class="lead">가상강의실에서 공부에 필요한 자료들을 확인하세요.</p>
            <hr class="my-4">
            <a class="btn btn-primary btn-lg" href="#" role="button">더 알아보기</a>
        </div>
    </div>

    <div class="container">
        <div class="card">
            <h3>2019학년 2학기</h3>
        </div>
    </div>
    <div class="card img-fluid text-white" style="width:100%; background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.6)),url('/images/main/network-cable.jpg') center center; height: 18vh; background-size: cover;">
        <!-- <img class="card-img-top" src="/images/main/network-cable.jpg" alt="Card image" style="width:100%"> -->
        <div class="card-img-overlay">
            <div class="container">
                <h4 class="card-title">데이터 통신</h4>
                <p class="card-text">데이터 통신과 네트워크를 전반적으로 알아보는 과목입니다.</p>
                <a href="#" class="btn btn-info">자세히 보기</a>
            </div>
        </div>
    </div>
    <div class="card img-fluid text-white" style="width:100%; background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.6)),url('/images/e-campus/code.jpg') center center; height: 18vh; background-size: cover;">
        <!-- <img class="card-img-top" src="/images/main/network-cable.jpg" alt="Card image" style="width:100%"> -->
        <div class="card-img-overlay">
            <div class="container">
                <h4 class="card-title">진로와 경력관리</h4>
                <p class="card-text">개인의 역량과 자신의 진로를 찾는 과목입니다.</p>
                <a href="#" class="btn btn-info">자세히 보기</a>
            </div>
        </div>
    </div>
    <div class="card img-fluid text-white" style="width:100%; background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.6)),url('/images/e-campus/code.jpg') center center; height: 18vh; background-size: cover;">
        <!-- <img class="card-img-top" src="/images/main/network-cable.jpg" alt="Card image" style="width:100%"> -->
        <div class="card-img-overlay">
            <div class="container">
                <h4 class="card-title">캡스톤디자인</h4>
                <p class="card-text">.</p>
                <a href="#" class="btn btn-info">자세히 보기</a>
            </div>
        </div>
    </div>
    <div class="card img-fluid text-white" style="width:100%; background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.6)),url('/images/e-campus/code.jpg') center center;  height: 18vh; background-size: cover;">
        <!-- <img class="card-img-top" src="/images/main/network-cable.jpg" alt="Card image" style="width:100%"> -->
        <div class="card-img-overlay">
            <div class="container">
                <h4 class="card-title">Avro</h4>
                <p class="card-text">Tutorial for Apache Avro</p>
                <a href="#" class="btn btn-info">Learn</a>
            </div>
        </div>
    </div>
    <!-- </div> -->
    <!-- <div class="card mb-3">
        <div class="container">
            <img class="card-img-top" src="https://picsum.photos/id/1/1280/800" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div> -->

    <% include ../include/footer %>